@model IEnumerable<ProjectTracker.Models.Employees>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/Main.css" rel="stylesheet" />

<div>
    <center><h1>All Employees</h1></center>
    <a class="btn profilebtn" asp-controller="Home" asp-action="SignUp">Add Employee</a>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.postion.Position)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mail)
                </th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.postion.Position)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mail)
                    </td>

                    <td>
                        <a class="btn profilebtn" asp-action="Edit" asp-route-id="@item.EmployeeID">Edit</a>

                        <a class="btn profilebtn" asp-action="Delete" asp-route-id="@item.EmployeeID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>